@model IEnumerable<ITproject2020.Models.Reservation>
@{
    ViewBag.Title = "ShowUserReservations";
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ReservationId)
        </th>
        
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationId)
            </td>
            
            <td>
                @Html.ActionLink("Промени Резервација", "Edit", new { id = item.ReservationId }) |
                @Html.ActionLink("Избриши резервација", "Delete", new { id = item.ReservationId })
            </td>
        </tr>
    }

</table>


