
@{
    ViewBag.Title = "SuccessfulReservation";
}



<h2>Вашата резервација е успешна! Ви благодариме</h2>
        <div class="form-actions no-color">
            @Html.ActionLink("Назад кон листа претстави", "Index", "Performances")
        </div>
